body {
    margin: 0;
    background: #fff;
    color: #8b7969;
    font-family: "Times New Roman", serif;
}

.header {
    border-bottom: 1px solid #eee;
    padding: 24px 0;
    text-align: center;
}

.header__logo {
    text-decoration: none;
    color: #8b7969;
    font-size: 30px;
    font-weight: normal;
}

.contact {
    padding: 56px 0 72px;
}

.contact__title {
    text-align: center;
    color: #8b7969;
    font-size: 26px;
    font-weight: normal;
    margin: 0 0 44px;
}

.contact__form {
    width: 720px;
    margin: 0 auto;
}

.form-row {
    display: grid;
    grid-template-columns: 170px 1fr;
    column-gap: 18px;
    align-items: center;
    margin-bottom: 22px;
}

.form-row--textarea {
    align-items: start;
}

.form-label {
    font-size: 14px;
    color: #8b7969;
    white-space: nowrap;
}

.required {
    color: #ff0000;
    margin-left: 6px;
    font-size: 14px;
}

.input,
.select,
.textarea {
    border: none;
    outline: none;
    background: #f5f5f5;
    color: #8b7969;
    font-size: 13px;
    padding: 12px 14px;
    box-sizing: border-box;
}

.input::placeholder,
.textarea::placeholder {
    color: #c7c7c7;
    font-size: 12px;
}

.input--full {
    width: 100%;
}

.form-control--name {
    display: flex;
    gap: 12px;
}

.form-control--name .input {
    width: 170px;
}

.form-control--tel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-control--tel .input {
    width: 140px;
}

.tel-sep {
    color: #c7c7c7;
    font-size: 14px;
}


.select {
    width: 240px;
    appearance: none;
    padding-right: 36px;
    background-color: #f5f5f5;
    color: #c7c7c7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%238b7969' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 14px center;
}

.select:valid {
    color: #8b7969;
}

.textarea {
    width: 520px;
    height: 140px;
    resize: none;
}

/* ===== radio ===== */
.radio-group {
    display: flex;
    gap: 28px;
    /* 広がりすぎない */
    align-items: center;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #8b7969;
    font-size: 13px;
}

.radio-item input {
    accent-color: #8b7969;
    /* 丸の色 */
}

/* ===== submit ===== */
.form-submit {
    text-align: center;
    margin-top: 46px;
}

.submit-btn {
    background: #8b7969;
    color: #fff;
    border: none;
    width: 180px;
    height: 44px;
    cursor: pointer;
    font-size: 14px;
}